.app-container {
  width: 800px;
  height: 90vh;
  border: lightslategrey 0.5px solid;
  border-radius: 15px;
  margin: 10px auto;

  .header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    .title {
      font-size: 26px;
      font-weight: 500;
    }
  }
}
